# Core Django
Django==5.2.8
djangorestframework==3.16.1
django-cors-headers==4.9.0
python-dotenv==1.2.1
django-filter==25.2
django-extensions==4.1
django-bulk-update-or-create==0.3.0
django-axes==8.0.0
drf-yasg==1.21.11

# Database
psycopg==3.2.13
pgvector==0.4.1

# AWS
boto3==1.41.2

# Celery & Task Queue
celery==5.5.3
redis==7.1.0
flower==2.0.1

# Web Server
gunicorn==23.0.0
whitenoise==6.11.0
uvicorn==0.38.0

# AI & Data
langgraph==1.0.3
langchain-openai==1.0.3
langchain-community==0.4.1
langchain-core==1.0.4
langchain==1.0.5
langgraph-checkpoint-postgres==2.0.8
langfuse==3.9.3
numpy==2.3.5
pandas==2.3.3

# File/Image Handling
Pillow==12.0.0

# Testing & Coverage
pytest==9.0.1
pytest-django==4.11.1
pytest-cov==7.0.0
pytest-postgresql==5.0.0
python-box==7.1.1
coverage==7.12.0

